@use './globals' as *;

.card__img-half {
  background-color: #ab5cdb;
  border-radius: rem(8) rem(8) 0 0;

  img {
    mix-blend-mode: multiply;
    opacity: 75%;
    border-radius: rem(8) rem(8) 0 0;
  }
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  gap: rem(40);

  max-width: rem(420);

  background-color: #1b1937;
  border-radius: rem(8);

  &__text-half {
    text-align: center;
    color: white;
    font-family: Inter;
    padding: rem(0) rem(32) rem(32) rem(32);
  }

  &__lead {
    font-size: rem(28);
    font-weight: bold;
    line-height: rem(32);
    margin-bottom: rem(16);

    span {
      color: #ab5cdb;
    }
  }

  &__description {
    font-size: rem(15);
    line-height: rem(25);
    opacity: 75%;
    margin-bottom: rem(40);
  }

  &__stats-list {
    display: flex;
    flex-direction: column;
    gap: rem(24);
  }

  &__stat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: rem(2);
    font-size: rem(24);
    font-weight: bold;

    span {
      font-family: Lexend Deca;
      font-size: rem(12);
      font-weight: 400;
      line-height: rem(25);
      letter-spacing: 1px;
      opacity: 60%;
      text-transform: uppercase;
    }
  }
}

@media (min-width: 1440px) {
  .card {
    flex-direction: row-reverse;
    max-width: rem(1110);
    gap: rem(65);

    &__text-half {
      text-align: left;
      flex: 1;
      display: flex;
      flex-direction: column;
      padding-left: rem(72);
      padding-top: rem(72);
    }

    &__lead {
      margin-bottom: rem(25);
      font-size: rem(36);
      line-height: rem(44);
    }

    &__description {
      margin-bottom: rem(72);
    }

    &__img-half {
      flex: 1;
      border-radius: 0 rem(8) rem(8) 0;

      img {
        width: rem(540);
        border-radius: 0 rem(8) rem(8) 0;
      }
    }

    &__stats-list {
      flex-direction: row;
      justify-content: start;
      gap: rem(60);
    }

    &__stat {
      align-items: start;
    }
  }
}
