@use '../abstracts/variables' as *;

.btn {
  background-color: $dark-slate-grey;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  line-height: 150%;
  color: white;
  width: 100%;
  padding: 18px 46px 14px 48px;
  font-family: 'Roboto';
}

@media (min-width: 1024px) {
  .btn:hover {
    color: white;
    cursor: pointer;
    background: linear-gradient(
      180deg,
      rgba(255, 106, 58, 1) 0%,
      rgba(255, 82, 123, 1) 100%
    );
  }
}
