@use '../abstracts/variables' as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto';
  min-height: 100vh;
  color: $dark-slate-grey;

  display: flex;
  justify-content: center;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.hidden {
  display: none;
}

@media (min-width: 1024px) {
  body {
    align-items: center;
    background-color: $charcoal-grey;
  }
}
