@use './mixins' as *;
@use './globals' as *;

.btn {
  @include text-preset-5;
  padding: rem(16) rem(40) rem(16) rem(40);
  text-decoration: none;
  color: #ffffff;
  border-radius: rem(250);
  transition: background-color ease-out 0.3s;
}

.btn--blue {
  background-color: $cyan-600;

  span {
    color: $cyan-300;
  }
}

.btn--purple {
  background-color: $purple-600;

  span {
    color: $purple-300;
  }
}

.btn--blue:hover {
  background-color: #71c0d4;
}

.btn--purple:hover {
  background-color: #b18bdd;
}

.number {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  div:first-child {
    width: rem(1);
    height: rem(80);
    background-color: $slate-300;
  }

  div:last-child {
    width: rem(56);
    height: rem(56);
    color: $slate-600;
    @include text-preset-5;
    border: 1px solid $slate-300;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
